/********** Base styles **********/
* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 2%;
	line-height: 20px;
    font-size: 95%;
}

h1 {
	margin: 20px 0;
	text-align: center;
	padding: 30px 0 10px;
	font-size: 2em;
}

p {
	padding: 40px 15px 0;  
}

#chicken {
	background-color: #FFB6C1;
	color: #000;
}

#beef {
	color: #fff;
	background-color: #CD5C5C;
}

#sushi {
	color: #000;
	background-color: #F0E68C;
}

.row {
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

.col {
	border:1px solid #000000;
	float:left;
	padding:0;
	width:32%;;
	margin:15px 15px 15px 0;
	position: relative;
	background-color: #DCDCDC
}

.title-region {
	padding: 5px 10px;
	width: 40%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ffffff;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}



/********** Desktop device**********/
@media (min-width: 992px) {

	#three {
		margin-right: 0;
	}
}

/********** Tablet device **********/
@media (min-width: 768px) and (max-width: 991px) {
	#one, #two {
		width: 48.5%;
	}

	#two {
		float: right;
		margin-right: 0;
	}

	#three {
		width: 100%;
		margin-top: 0;
	}
}
/********** Mobile device **********/
@media (max-width: 767px) {
	.row {
		padding: 0 30px;
	}
	.col {
		width: 100%;
		margin: 0 0 15px;
	}
}
</style>